# Supabase Configuration
VITE_SUPABASE_URL=https://lhnayouvcwvapzbxlolu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxobmF5b3V2Y3d2YXB6Ynhsb2x1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5MDE1NTksImV4cCI6MjEwNTQ3NzU1OX0.xkeVWRLy6PYxaJIvW1RlKgDsjBS2_EAC5jzRyFdBFxk
